# ==============================
# NetBeans / Java project
# ==============================

# Compilación
/build/
/dist/
*.class

# NetBeans privado del usuario
/nbproject/private/

# Logs
*.log

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Temporales
*.tmp
*.bak
*.swp

# SQLite temporales
*.db-journal
*.db-shm
*.db-wal

# NO ignorar librerías .jar
# Las librerías del proyecto deben ir en /lib/
!/lib/
!/lib/*.jar

# NO ignorar la base de datos principal si el proyecto la necesita
!proyecto_barberia.db